.ImageItemUrl{
    width: 100%;

    .ImageItemUrl-name{
        width: 100%;
        height: 50px;
        background: mediumblue;
        display: flex;
        justify-content: start;
        align-items: center;

        a{
            img{
                width: 30px;
                margin-left: 20px;
            }
        }

        h4{
            color: white;
            margin-left: 20px;
        }
    }
    .ImageItemUrl-image{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;

        img{
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}